.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  &__item {
    display: flex;
    align-items: center;
    font-size: var(--unit);
    color: var(--color);

    &:not(:last-child) {
      &::after {
        content: '/';
        display: inline-block;
        margin: 0 8px;
        color: var(--color-base-300);
      }
    }
  }

  &__link {
    text-decoration: none;
    transition: opacity var(--transition-base);

    &:hover {
      opacity: 0.5;
    }

    &:not([href]) {
      pointer-events: none;
      cursor: default;
      color: var(--color-base-300);
    }
  }
}
