.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    color: var(--color-base-300);

    &:not(:last-child) {
      &::after {
        content: '/';
        display: inline-block;
        margin: 0 8px;
        color: var(--color-base-300);
      }
    }
  }

  &__link {
    color: var(--color-base-950);
    text-decoration: none;
  }
}
