h1,
.title-h1 {
  font-size: 48px;

  @media (max-width: 991px) {
    font-size: 32px;
  }
}

h2,
.title-h2 {
  font-size: 32px;

  @media (max-width: 991px) {
    font-size: 24px;
  }
}

h3,
.title-h3 {
  font-size: 24px;

  @media (max-width: 991px) {
    font-size: 20px;
  }
}

h4,
.title-h4 {
  font-size: 20px;

  @media (max-width: 991px) {
    font-size: 18px;
  }
}
