.avatar {
  --size: 80px;
  --radius: var(--border-radius);
  --unit: 3rem;
  --color: var(--base-light);
  --background: var(--default);
  overflow: hidden;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  font-size: var(--unit);
  color: var(--color);
  text-transform: uppercase;
  background-color: var(--background);
  border-radius: var(--radius);

  &--circle {
    --radius: 50%;
  }

  &--square {
    --radius: 0;
  }

  &--rounded {
    --radius: 8px;
  }

  &--small {
    --size: 60px;
    --unit: 2rem;
  }

  &--medium {
    --size: 80px;
    --unit: 3rem;
  }

  &--large {
    --size: 100px;
    --unit: 4rem;
  }
}

.avatar__img {
  --size: 100%;
  flex: 0 0 auto;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
}
