.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  &__item {
    --color: var(--default);
    --unit: 0.875rem;
    display: flex;
    align-items: center;
    font-size: var(--unit);
    font-weight: 500;
    color: var(--color);

    &:not(:last-child) {
      --color: var(--accent);

      &::after {
        --color: var(--default);
        content: '/';
        display: inline-block;
        margin: 0 0.5rem;
        color: var(--color);
      }
    }
  }

  &__link {
    --color: inherit;
    color: var(--color);
    text-decoration: none;
    transition: color var(--transition);

    &:hover {
      --color: var(--dark);
    }

    &:not([href]) {
      cursor: default;

      &:hover {
        --color: inherit;
      }
    }
  }
}
