.button {
  --padding: 0;
  --unit: 1rem;
  --radius: 0;
  --color: inherit;
  --background: transparent;
  --border: transparent;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  font-size: var(--unit);
  line-height: normal;
  color: var(--color);
  text-align: center;
  text-decoration: none;
  background-color: var(--background);
  border: 2px solid var(--border);
  border-radius: var(--radius);
  outline: none;

  &--primary {
    --color: var(--base-light);
    --background: var(--primary);
    --border: var(--primary);
    --radius: var(--border-radius);
    transition: background-color var(--transition), border-color var(--transition);

    &:hover:not(:disabled) {
      --background: var(--primary-dark);
      --border: var(--primary-dark);
    }

    &:focus {
      --background: var(--primary);
      --border: var(--primary-dark);
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      --background: var(--primary);
      --border: var(--primary-dark);
    }

    &:active {
      --background: var(--primary-dark);
      --border: var(--primary-dark);
    }

    &:disabled {
      --background: var(--default);
      --border: var(--default);
      cursor: default;
    }
  }

  &--secondary {
    --color: var(--primary);
    --border: var(--primary);
    --radius: var(--border-radius);
    --background: transparent;
    border: 1px solid var(--border);
    transition: color var(--transition), border-color var(--transition), box-shadow var(--transition);

    &:hover:not(:disabled) {
      --color: var(--primary-dark);
      --border: var(--primary-dark);
    }

    &:focus {
      --color: var(--primary);
      --border: var(--primary-dark);
      box-shadow: inset 0 0 0 1px var(--primary-dark);
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      --color: var(--primary-dark);
      --border: var(--primary-dark);
      box-shadow: inset 0 0 0 1px var(--primary-dark);
    }

    &:active {
      --color: var(--primary-dark);
      --border: var(--primary-dark);
    }

    &:disabled {
      --color: var(--default);
      --border: var(--default);
      cursor: default;
    }
  }

  &--icon {
    --size: 25px;
    --padding: 4px;
    --color: inherit;
    --border: transparent;
    --radius: var(--border-radius);
    --background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
  }

  &--small {
    --padding: 4px 8px;
    --unit: 0.875rem;
  }

  &--medium {
    --padding: 8px 16px;
    --unit: 1rem;
  }

  &--large {
    --padding: 12px 24px;
  }
}
