.checkbox__field {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:not(:disabled, :checked) + .checkbox__label {
    &:hover {
      &::before {
        --border: var(--primary-dark);
      }
    }
  }

  &:not(:disabled):active + .checkbox__label {
    &::before {
      --background: var(--color-info);
      --border: var(--color-info);
    }
  }

  &:focus + .checkbox__label {
    &::before {
      --border: var(--primary);
      box-shadow: 0 0 0 1px var(--primary);
    }
  }

  &:focus:not(:checked) + .checkbox__label {
    &::before {
      --border: var(--primary);
    }
  }

  &:checked + .checkbox__label {
    &::before {
      --background: var(--primary);
      --border: var(--primary);
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0id2hpdGUiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZD0iTTEwLjk3IDQuOTdhLjc1Ljc1IDAgMCAxIDEuMDcgMS4wNWwtMy45OSA0Ljk5YS43NS43NSAwIDAgMS0xLjA4LjAyTDQuMzI0IDguMzg0YS43NS43NSAwIDEgMSAxLjA2LTEuMDZsMi4wOTQgMi4wOTMgMy40NzMtNC40MjVhLjI2Ny4yNjcgMCAwIDEgLjAyLS4wMjJ6Ii8+Cjwvc3ZnPgo=);
    }
  }

  &:disabled + .checkbox__label {
    cursor: default;

    &::before {
      --background: var(--default);
      --border: var(--default);
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0id2hpdGUiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZD0iTTEwLjk3IDQuOTdhLjc1Ljc1IDAgMCAxIDEuMDcgMS4wNWwtMy45OSA0Ljk5YS43NS43NSAwIDAgMS0xLjA4LjAyTDQuMzI0IDguMzg0YS43NS43NSAwIDEgMSAxLjA2LTEuMDZsMi4wOTQgMi4wOTMgMy40NzMtNC40MjVhLjI2Ny4yNjcgMCAwIDEgLjAyLS4wMjJ6Ii8+Cjwvc3ZnPgo=);
    }
  }
}

.checkbox__label {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;

  &::before {
    --size: 16px;
    --radius: var(--border-radius);
    --border: var(--line);
    --background: transparent;
    content: '';
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    background-color: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    transition: all var(--transition);
  }
}
