.collapse {
  max-width: 410px;

  &--active {
    .collapse__btn {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.collapse__header {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--line);
}

.collapse__body {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
