.incut {
  position: relative;
  font-size: 18px;
  font-weight: 600;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: 0 0 16px;
    background-color: var(--accent);
    border: none;
  }
}
