.list {
  &--marked {
    .list__item {
      position: relative;
      padding-left: 2rem;

      &::before {
        --size: 6px;
        --background: var(--primary);
        content: '';
        position: absolute;
        top: 8px;
        left: 8px;
        display: inline-block;
        width: var(--size);
        height: var(--size);
        background: var(--background);
        border-radius: 50%;
      }
    }
  }

  &--numbered {
    counter-reset: item;
    list-style: none;

    .list__item {
      counter-increment: item;

      &::before {
        --size: 24px;
        --unit: 14px;
        --color: var(--primary);
        --border: var(--line);
        content: counter(item);
        position: absolute;
        top: 0;
        left: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: var(--size);
        height: var(--size);
        font-size: var(--unit);
        font-weight: 600;
        line-height: normal;
        color: var(--color);
        border: 1px solid var(--border);
        border-radius: 50%;
      }
    }
  }
}

.list__item {
  position: relative;
  padding-left: 2rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
