.modal {
  position: fixed;
  z-index: var(--z-index-modal);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  background-color: rgb(0 0 0 / 50%);
  transition: all var(--transition);

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 10%);
  }

  &__dialog {
    position: relative;
    overflow: auto;
    display: grid;
    gap: 24px;
    width: 100%;
    max-width: 40vw;
    padding: 2rem;
    background-color: var(--base-light);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }

  &__close {
    --size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    justify-content: start;
  }
}
