.placeholder {
  max-width: 764px;
  padding: 40px;
  background-color: var(--light);

  &__error {
    margin-bottom: 16px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
  }

  &__body {
    font-weight: 500;
  }
}
