.tags__item {
  --gutter: 0.5rem;
  --size: 0.25rem 0.75rem;
  --unit: 0.875rem;
  --color: var(--dark);
  --border: var(--line);
  --radius: 100px;
  --background: var(--base-light);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: var(--size);
  font-size: var(--unit);
  color: var(--color);
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius);

  &:not(:last-child) {
    margin-right: var(--gutter);
  }

  &--active {
    --border: var(--accent);
    --background: var(--accent);
    --color: var(--base-light);
  }
}
