.params {
  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__prop {
    display: flex;
    flex: 1;
    align-items: center;
    color: var(--default);

    &::after {
      content: '';
      flex: 1;
      margin: 0 12px;
      border-bottom: dashed 1px var(--line);
    }
  }

  &__value {
    width: max-content;
    text-align: right;
  }
}
