:root {
  // Globals
  --font-family: 'Inter', sans-serif;
  --font-size: 1rem;
  --line-height: 1.4;
  --border-radius: 4px;
  --box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
  --transition: 0.3s ease-in-out;

  // Colors
  --base-dark: #000;
  --base-light: #fff;
  --dark: #333;
  --light: #f7f7f7;
  --default: #b1b3b8;
  --info: #909399;
  --neutral: #7b7c7f;
  --line: #e0e0e0;
  --accent: #409eff;
  --accent-dark: #337ecc;
  --success: #67c23a;
  --success-bg: #f0f9eb;
  --warning: #e6a23c;
  --warning-bg: #fdf6ec;
  --error: #f56c6c;
  --error-bg: #fef0f0;

  // Z-index
  --z-index-header: 100;
  --z-index-menu: 200;
  --z-index-overlay: 900;
  --z-index-modal: 1000;
}
