h1 {
  font-size: 32px;

  @include media(md) {
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;

  @include media(md) {
    font-size: 32px;
  }
}

h3 {
  font-size: 20px;

  @include media(md) {
    font-size: 24px;
  }
}

h4 {
  font-size: 18px;

  @include media(md) {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

hr:not([class]) {
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid var(--accent);
}

ul:not([class]) {
  list-style: none;

  li {
    position: relative;
    padding-left: 2rem;

    &::before {
      --size: 6px;
      --background: var(--accent);
      content: '';
      position: absolute;
      top: 8px;
      left: 8px;
      display: inline-block;
      width: var(--size);
      height: var(--size);
      background: var(--background);
      border-radius: 50%;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

ol:not([class]) {
  counter-reset: item;
  list-style: none;

  li {
    counter-increment: item;
    position: relative;
    padding-left: 2rem;

    &::before {
      --size: 24px;
      --unit: 14px;
      --color: var(--accent);
      --border: var(--line);
      content: counter(item);
      position: absolute;
      top: 0;
      left: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      height: var(--size);
      font-size: var(--unit);
      font-weight: 600;
      line-height: normal;
      color: var(--color);
      border: 1px solid var(--border);
      border-radius: 50%;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
