.quote {
  display: grid;
  gap: 16px;

  &__text {
    position: relative;
    padding-bottom: 16px;
    font-style: italic;
    border-bottom: 1px solid var(--color-base-100);

    &::before {
      --size: 16px;
      --border: var(--color-base-100);
      --background: var(--color-base-50);
      content: '';
      position: absolute;
      top: calc(100% - var(--size) / 2);
      left: var(--size);
      transform: rotate(45deg);
      display: block;
      width: var(--size);
      height: var(--size);
      background-color: var(--background);
      border-right: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
    }
  }

  &__author {
    span {
      color: var(--color-base-300);
    }
  }
}
