.alert {
  --border: var(--color-base-100);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: center;
  padding: 16px;
  border: 1px solid var(--border);

  svg {
    --color: var(--color-base-300);
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    color: var(--color);
  }
}
