.alert {
  --gutter: 8px;
  --size: 16px;
  --border: var(--line);
  --radius: var(--border-radius);
  --color: inherit;
  --background: var(--base-light);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--gutter);
  padding: var(--size);
  color: var(--color);
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius);

  svg {
    --color: var(--primary);
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    color: var(--color);
  }
}
