.checkbox {
  &__field {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:hover + .checkbox__label {
      &::before {
        --border: var(--color-base-900);
      }
    }

    &:focus + .checkbox__label {
      &::before {
        --border: var(--color-base-900);
      }
    }

    &:checked + .checkbox__label {
      &::before {
        --border: var(--color-base-900);
        background-image: url('../../assets/icons/check.svg');
      }
    }

    &:disabled + .checkbox__label {
      pointer-events: none;
      cursor: default;

      &::before {
        --background: var(--color-base-300);
        --border: var(--color-base-300);
      }
    }
  }

  &__label {
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    gap: 8px;
    align-items: center;

    &::before {
      --size: 16px;
      --border: var(--color-base-100);
      --background: transparent;
      content: '';
      display: inline-block;
      flex: 0 0 auto;
      width: var(--size);
      height: var(--size);
      background-color: var(--background);
      background-repeat: no-repeat;
      background-position: center;
      background-size: var(--size);
      border: 1px solid var(--border);
      transition: all var(--transition-base);
    }
  }
}
