.card {
  &:hover {
    .card__content {
      border-color: var(--color-primary-500);
    }

    .card__img img {
      transform: scale(1.1);
    }
  }
}

.card__img {
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition);
  }
}

.card__content {
  --border: var(--color-base-100);
  padding: 16px;
  border: 1px solid var(--border);
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  transition: border-color var(--transition);
}
