.card {
  max-width: 300px; // remove this
  padding: 16px;
  background-color: var(--color-base-100);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
  }

  &__title,
  &__text {
    margin: 0;
  }
}
