.space-4 {
  padding-bottom: 4px;
}

.space-8 {
  padding-bottom: 8px;
}

.space-16 {
  padding-bottom: 16px;
}

.space-24 {
  padding-bottom: 24px;
}

.space-32 {
  padding-bottom: 32px;
}

.space-40 {
  padding-bottom: 40px;
}

.space-48 {
  padding-bottom: 48px;
}

.space-56 {
  padding-bottom: 56px;
}

.space-64 {
  padding-bottom: 64px;
}

.space-72 {
  padding-bottom: 72px;
}

.space-80 {
  padding-bottom: 80px;
}
