.link {
  --unit: inherit;
  --color: inherit;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--unit);
  font-weight: 400;
  line-height: inherit;
  color: var(--color);
  text-decoration: none;
  transition: color var(--transition);

  &:hover {
    --color: var(--primary-dark);
  }

  &:focus {
    outline: 1px solid var(--color);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--color);
  }

  &:active {
    --color: var(--dark);
  }
}

.link--small {
  --unit: 0.875rem;
}

.link--medium {
  --unit: 1rem;
}

.link--large {
  --unit: 1.125rem;
}

.link--primary {
  --color: var(--primary);
}

.link--secondary {
  --color: var(--default);
}
