.badge {
  --padding: 6px 12px;
  --unit: 14px;
  --radius: var(--border-radius);
  --color: var(--color-base-50);
  --background: var(--color-base-900);
  display: inline-flex;
  gap: 8px;
  align-items: center;
  height: var(--size);
  padding: var(--padding);
  font-size: var(--unit);
  line-height: 1;
  color: var(--color);
  text-transform: uppercase;
  background-color: var(--background);
  border-radius: var(--radius);

  &--rounded {
    --radius: 8px;
  }

  &--square {
    --radius: 0;
  }

  &--circle {
    --size: 20px;
    --radius: var(--size);
  }

  &--small {
    --padding: 4px 8px;
    --unit: 12px;
  }

  &--medium {
    --padding: 6px 12px;
    --unit: 14px;
  }

  &--large {
    --padding: 8px 14px;
    --unit: 16px;
  }
}
