.button {
  --size: 8px 16px;
  --unit: 16px;
  --color: var(--color-base-50);
  --background: var(--color-base-950);
  --border: var(--color-base-950);
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: var(--size);
  font-size: var(--unit);
  line-height: 1;
  color: var(--color);
  text-align: center;
  text-decoration: none;
  background-color: var(--background);
  border: 1px solid var(--border);
  transition: color var(--transition-base), border-color var(--transition-base), background-color var(--transition-base);

  &--small {
    --size: 4px 8px;
    --unit: 14px;
  }

  &--medium {
    --size: 8px 16px;
    --unit: 16px;
  }

  &--large {
    --size: 12px 24px;
    --unit: 18px;
  }

  &--primary {
    --color: var(--color-base-50);
    --background: var(--color-base-950);
    --border: var(--color-base-950);
  }

  &--secondary {
    --color: var(--color-base-950);
    --border: var(--color-base-950);
    --background: transparent;
  }

  &--icon {
    --size: 8px;
    --color: var(--color-base-950);
    --border: var(--color-base-100);
    --background: transparent;
  }

  &--text {
    --size: 0;
    --color: var(--color-base-950);
    --background: transparent;
    border: none;
  }
}
