.page-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: start;

  &__link {
    margin-left: auto;
  }

  &__title {
    margin: 0 auto;
  }
}
