.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pagination__item {
  --size: 24px;
  --color: var(--color-base-300);
  --radius: 50%;
  --background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--size);
  min-height: var(--size);
  color: var(--color);
  text-decoration: none;
  background-color: var(--background);
  border-radius: var(--radius);
  transition: color var(--transition), background-color var(--transition);

  &:hover:not(.active) {
    --background: var(--color-primary-500);
    --color: var(--color-base-50);
  }

  &--active {
    --background: var(--color-primary-500);
    --color: var(--color-base-50);
  }
}

.pagination__prev,
.pagination__next {
  --color: var(--color-base-300);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
}
