.pagination {
  display: flex;
  align-items: center;

  &__item {
    --size: 24px;
    --color: var(--color-base-900);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--size);
    min-height: var(--size);
    color: var(--color);
    text-decoration: none;
    transition: color var(--transition-base), background-color var(--transition-base);

    &.is-active {
      --color: var(--color-base-300);
    }
  }
}
