.input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__label {
    color: var(--color-base-950);
  }

  &__field {
    width: 100%;
    padding: 8px 16px;
    appearance: none;
    border: 1px solid var(--color-base-100);

    &::placeholder {
      color: var(--color-base-300);
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}
