.input {
  position: relative;
  width: 100%;
}

.input__label {
  --unit: 14px;
  display: block;
  margin-bottom: 4px;
  font-size: var(--unit);
  color: inherit;

  span {
    color: var(--default);
  }
}

.input__field {
  --padding: 8px 16px;
  --color: inherit;
  --border: var(--line);
  --radius: var(--border-radius);
  --background: var(--base-light);
  width: 100%;
  padding: var(--padding);
  color: var(--color);
  text-overflow: ellipsis;
  appearance: none;
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  outline: none;
  transition: border-color var(--transition);

  &::placeholder {
    --color: var(--default);
    color: var(--color);
    transition: opacity var(--transition), visibility var(--transition);
  }

  &:hover:not(:disabled, :read-only) {
    --border: var(--primary-dark);
  }

  &:focus:not(:disabled, :read-only) {
    --border: var(--primary);

    &::placeholder {
      visibility: hidden;
      opacity: 0;
    }
  }

  &:disabled {
    --color: var(--default);
    --background: var(--light);
  }
}
