.input {
  position: relative;
  display: block;

  &--with-button {
    .input__field {
      --padding: 8px 40px 8px 16px;
    }
  }
}

.input__label {
  --unit: 14px;
  --color: var(--default);
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 16px;
  margin: 0;
  font-size: var(--unit);
  color: var(--color);
  transition: all var(--transition);

  span {
    color: var(--default);
  }
}

.input__field {
  --size: 40px;
  --padding: 8px 16px;
  --unit: 14px;
  --color: inherit;
  --border: var(--line);
  --radius: 0;
  --background: transparent;
  width: 100%;
  height: var(--size);
  padding: var(--padding);
  font-size: var(--unit);
  color: var(--color);
  appearance: none;
  background: transparent;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  outline: none;
  transition: border-color var(--transition);

  &::placeholder {
    --color: var(--default);
    color: var(--color);
    visibility: hidden;
    opacity: 0;
  }

  &:hover:not(:disabled) {
    --border: var(--primary-dark);
  }

  &:focus {
    --border: var(--primary);
  }

  &:focus,
  &:not(:placeholder-shown) {
    + .input__label {
      top: -20px;
    }
  }

  &:disabled {
    opacity: 0.3;

    ~ * {
      opacity: 0.3;
    }
  }
}

.input__button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--default);
}
