.uploader {
  --size: 160px;
  --gap: 16px;
  position: relative;
  display: grid;
  grid-auto-rows: var(--size);
  grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
  grid-template-rows: var(--size);
  gap: var(--gap);

  &--multiple {
    grid-template-columns: 1fr;

    .uploader__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, var(--size));
      gap: var(--gap);
    }
  }
}

.uploader__label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-base-300);
  border: 1px dashed var(--color-base-100);
  border-radius: var(--border-radius);

  svg {
    width: 24px;
    height: 24px;
  }
}

.uploader__preview {
  position: relative;
  height: 100%;
}

.uploader__remove-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--color-base-50);
  border-radius: 50%;
  box-shadow: 2px 4px 10px 0 rgb(32 32 34 / 10%);

  svg {
    width: 10px;
    height: 10px;
  }
}

.uploader__preview-img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
}
