.stepper {
  counter-reset: item;
  display: flex;
}

.stepper__item {
  --size: 32px;
  --gutter: 8px;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;

  &::before {
    --color: var(--color-base-300);
    --border: var(--color-base-300);
    --background: transparent;
    content: counter(item);
    counter-increment: item;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    color: var(--color);
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 50%;
    transition: border-color var(--transition-base), background-color var(--transition-base);
  }

  &:not(:last-child) {
    &::after {
      content: '';
      position: relative;
      top: calc(var(--size) / 2);
      left: calc(50% + calc(var(--size) / 2 + var(--gutter)));
      order: -1;
      width: calc(100% - var(--size) - calc(var(--gutter) * 2));
      height: 1px;
      background-color: var(--color-base-100);
    }
  }

  &:hover {
    &::before {
      --border: var(--color-primary-900);
    }
  }

  &--active {
    &::before {
      --border: var(--color-primary-500);
    }
  }

  &--completed {
    cursor: default;

    &::before {
      --border: var(--color-base-200);
      --background: var(--color-base-200);
    }
  }
}
