.radio__field {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:not(:disabled, :checked) + .radio__label {
    &:hover {
      &::before {
        --border: var(--color-primary-900);
      }
    }
  }

  &:focus + .radio__label {
    &::before {
      --border: var(--color-primary-500);
      box-shadow: 0 0 0 1px var(--color-primary-500);
    }
  }

  &:focus:not(:checked) + .radio__label {
    &::before {
      --border: var(--color-primary-500);
    }
  }

  &:checked + .radio__label {
    &::before {
      --background: var(--color-primary-500);
      --border: var(--color-primary-500);
      background-image: url('../../assets/icons/dot.svg');
    }
  }

  &:disabled + .radio__label {
    &::before {
      --background: var(--color-base-300);
      --border: var(--color-base-300);
      background-image: url('../../assets/icons/dot.svg');
    }
  }
}

.radio__label {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;

  &::before {
    --size: 16px;
    --border: var(--color-base-300);
    --background: transparent;
    content: '';
    display: inline-block;
    flex: 0 0 auto;
    width: var(--size);
    height: var(--size);
    margin-right: 8px;
    background-color: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(var(--size) * 2);
    border: 1px solid var(--border);
    border-radius: 50%;
    transition: all var(--transition-base);
  }
}
