.message {
  width: 100%;
  max-width: 400px;
  color: inherit;
  background: var(--color-base-50);
  box-shadow: none;

  &__inner {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
    padding: 16px;
    border: 1px solid var(--color-base-100);
  }
}
