.table {
  table {
    border-collapse: collapse;
    width: 100%;
    min-width: 900px;

    thead {
      font-weight: 700;
      color: var(--default);
      text-align: left;
    }

    tr {
      --border: var(--line);
      border-bottom: 1px solid var(--border);
    }

    th,
    td {
      padding: 16px;
    }
  }
}
