.rating {
  display: flex;
  gap: 8px;
  align-items: center;

  &__stars {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__star {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-base-300);
  }
}
