.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  &.is-open {
    visibility: visible;
    opacity: 1;
  }

  &__overlay {
    position: fixed;
    z-index: var(--z-index-900);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 60%);
  }

  &__container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 560px;
    max-height: 100vh;
    margin: 16px;
    padding: 24px 16px;
    background-color: var(--color-base-50);
  }

  &__header {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    display: flex;
    gap: 8px;
  }
}
