.modal {
  position: fixed;
  z-index: var(--z-index-modal);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  visibility: hidden;
  opacity: 0;
  background-color: rgb(0 0 0 / 50%);
  transition: all var(--transition);

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 10%);
}

.modal__dialog {
  --modal-width: 400px;
  position: relative;
  overflow: auto;
  display: grid;
  gap: 16px;
  width: 100%;
  max-width: var(--modal-width);
  padding: 16px;
  background-color: var(--base-light);
}

.modal__header {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.modal__title {
  margin: 0;
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.modal__footer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  justify-content: start;
}
