.c-tag {
  --size: 4px 8px;
  --color: inherit;
  --border: var(--color-base-100);
  --background: var(--color-base-50);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: var(--size);
  color: var(--color);
  background: var(--background);
  border: 1px solid var(--border);

  &:not(:last-child) {
    margin-right: 8px;
  }

  &.is-active {
    --border: var(--color-base-900);
    --background: var(--color-base-900);
    --color: var(--color-base-50);
  }
}
