@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap';

:root {
  // Globals
  --font-family: 'Inter', sans-serif;
  --font-size: 16px;
  --line-height: 1.4;
  --border-radius: 4px;
  --box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
  --transition: 0.3s ease-in-out;

  // Colors
  --primary: #409eff;
  --primary-dark: #337ecc;
  --success: #67c23a;
  --success-light: #f0f9eb;
  --warning: #e6a23c;
  --warning-light: #fdf6ec;
  --error: #f56c6c;
  --error-light: #fef0f0;
  --base-dark: #333;
  --dark: #444;
  --info: #666;
  --default: #999;
  --neutral: #ddd;
  --line: #eee;
  --bg: #f3f3f3;
  --light: #f8f8f8;
  --base-light: #fff;

  // Z-index
  --z-index-header: 100;
  --z-index-menu: 200;
  --z-index-overlay: 900;
  --z-index-modal: 1000;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-size-adjust: 100%;
  text-rendering: optimizespeed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  border: none;
}

input {
  padding: 0;
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
}

video,
iframe {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

figure {
  margin: 0;
}
