.avatar {
  --size: 60px;
  --unit: 32px;
  --color: var(--color-base-50);
  --radius: var(--border-radius);
  --background: var(--color-base-300);
  overflow: hidden;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  font-size: var(--unit);
  color: var(--color);
  text-transform: uppercase;
  background-color: var(--background);
  border-radius: var(--radius);

  &--circle {
    --radius: 50%;
  }

  &--square {
    --radius: 0;
  }

  &--rounded {
    --radius: 8px;
  }

  &--small {
    --size: 40px;
    --unit: 24px;
  }

  &--medium {
    --size: 60px;
    --unit: 32px;
  }

  &--large {
    --size: 80px;
    --unit: 40px;
  }

  &__img {
    --size: 100%;
    flex: 0 0 auto;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
  }
}
